pandas>=1.1.4, <1.2
scikit-learn>=0.23.2, <0.24
torch==1.13.1
torchvision==0.8.1+cpu
tqdm>=4.50.2, <4.51
numpy>=1.19.5, <1.20
neptune-client>=0.5.1, <0.6
hydra-core>=1.0.6, <1.1
catboost>=0.24.3, <0.25
qhoptim>=1.1.0, <1.2
neptune-client>=0.5.1, <0.6
